body{
    margin: 5px;
    font-family: "JetBrains Mono", sans-serif;
}

h1, p{
    margin: 0px;
    padding: 0px;
}

.testo{
margin: auto auto auto auto;
}

a{
    text-decoration: none;
}

header{
    background: #FFF;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px auto auto auto;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
}

header .header{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

header .header nav ul a{
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    color: #000;
}

header .header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0px;
    align-items: center;
}

.herosection{
    position: relative;
    height: 100vh;
}

.herosection img {
width: 100%;
object-fit: cover;
height: 100vh;
}

.bottoneheader{
    background-color: #C20E1A;
    color: #FFF;
    padding: 5px;
    border-radius: 4px;;
}

.bottoneheader img{
    width: 29px;
    height: 20.512px;
}

/*HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-HEADER-*/

h1.herosectiontesto{
    color: #FFF;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    max-width: fit-content;
    margin: auto auto auto auto;
    padding:20px;
    align-items: center;
}
.sfondoscritta{
    background-color: #000;
    width: 100%;
    position:absolute;
    bottom:0;
}

.sfondoscritta2{
    background-color: #000;
    width: 100%;
    margin-top:-5px;
}

.fototesto1, .fototesto2{
max-width: max-content;

}

.info1{
    background-color: #000;
    width: 100%;
    height: 68px;
    margin: -5px 0px 0px 0px;
    display: flex;
    align-items: center;
}
.info1 p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
}

.testo{
    font-family: "indivisible", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    color: #000;
    max-width: 750px;
    margin: auto auto 25px auto;
    padding: 0px 0px 0px 0px;
}

.titolo{
    color: #000;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    margin: auto auto 50px auto;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

/*CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD-CARD- */
.infoecard .testo {
    margin-top: 50px;
}

.infoecard .titolo, .galleryhome .titolo{
    margin-top: 100px;
}

.cardshome p, h1{
    color: #FFF;
}

.cardshome{
    max-width: 1275px;
    display: flex;
    justify-content: space-between;
    gap: auto;
    margin: 50px auto auto auto;
}

.cardhome{
    max-width: 400px;
}

.cardhome div{
    background-color: #C20E1A;
}

.intestazionecardhome{
    height: 75px;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardhome img{
    object-fit: cover;
    margin: 0px;
}

.immaginecardhome{
    height: 400px;
    max-width: 400px;
}

.testocardhome{
    height: 100px;
    width: 400px;
    margin: 0px;
    padding: auto;
    display: flex;
    align-items: center;
}

.testocardhome p{
    width: 350px;
    margin: auto;
}

.bottone {
    display:flex;
    width: 329px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    margin: auto auto auto auto;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 50px;
}

.bottone .titolo{
    margin:0px;
    color: #000;
}

.bottone a{
    text-decoration: none;
}

#bottonegalleriahome{
    margin-bottom: 50px;
}
/*GALLERY-GALLERY-GALLERY-GALLERY-GALLERY-GALLERY-GALLERY-GALLERY-GALLERY-GALLERY-GALLERY-*/
.riga {
        display: grid;
        gap:16px;
        grid-template-columns: repeat(2, 1fr);
}
.riga .fotoverticale{
    grid-row: 1 / span 2;
    height: 100%;
}

.riga .fotoverticale2{
    grid-row: 4 / span 2;
    height: 100%;
}

.riga .fotoorizontale{
    grid-column: 1 / span 2;
    height: 100%;
}
.riga .fotoorizontale2{
    grid-column: 1 / span 2;
    height: 100%;
}

.riga img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryhome .titolo {
    margin-bottom: 50px;
}
#gallerypage{
    margin-bottom: 50px;
}
/*FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-*/


footer{
    background-color: black;
    color: white;
    margin: 0px auto auto auto;
    padding-top: 50px;
}

    footer div.rigaa .linea{
        background-color: white;
        height: 1px;
        width: 80%;
    }
    

    footer div.rigaa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    footer div.rigab{
        display: flex;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        
    }

    footer div.rigab img{
        width: 26px;
        height: 26px;
    }

    footer nav ul {
        display: flex;
        list-style-type: none;
        gap: 40px;
        align-items:center;
    }

    .rigaa p{
        width: max-content;
        white-space: nowrap;

    }

   
/*LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-LINEUP-*/

section.pulse{
    background-color: #0093D8;
    color: white;
    max-width: 100%;}

section.pulse nav ul {
    list-style-type: none;
    padding: 0%;
  }
    
    section.pulse nav ul a{
        text-decoration: none;
        color: white;
        font-size: 25px;

       }

       div.nav{
        padding-top: 30px;
        padding-bottom: 30px;
        margin:  auto auto;
        align-items: center;
        text-align: center;
       }

       section.rock{
        background-color: #C20E1A;
        color: white;
        max-width: 100%;
       }
       section.rock nav ul{
        list-style-type: none;
        padding: 0%;
       }

       section.rock nav ul a{
        text-decoration: none;
        color: white;
        font-size: 25px;
       }

       .pulse{
        margin: 100px auto auto auto;
       }

       #lineup, #gorillaz, #newspage{
        margin: 50px auto auto auto;
       }

       #pulsestage.titolo, #rockrimstage.titolo{
        padding-top: 50px;
        color: #FFF;
       }

       #pulsestage.testo, #rockrimstage.testo{
        color: #FFF;
        margin: auto auto auto auto;
        align-items: center;
        text-align: center;
       }
/*INFORMAZIONI-INFORMAZIONI-INFORMAZIONI-INFORMAZIONI-INFORMAZIONI-INFORMAZIONI-INFORMAZIONI-INFORMAZIONI-*/
.sfondonero{
    background-color: #000;
}

.sfondoscritta{
    background-color: #000;
    width: 100%;
    margin-top: -5px;
}

.sfondonero p{
    color: rgba(255, 255, 255);
    margin:auto auto auto auto;
    max-width: 750px;
    padding: 50px 0px 50px 0px;
}

#rockpageinformazioni .titolo{
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    color: #FFF;
}

#pulsepageinformazioni .titolo{
    padding: 10px 0px 10px 0px;
    color: #FFF;
}

#pageinformazioni{
    height: 350px;
    display: flex;
    flex-direction: column;
}

.fotocontenitore1{
    width: 100%;
}

.fotocontenitore1 img{
    width: 100%;
    object-fit: cover;
}

.fototesto1{
    font-size: 60px;
    top: 455px;
    margin: auto auto auto auto;
}

#catania, #siracusa, #messina, #enna{
    margin: 0px auto auto auto;
    max-width: 750px;
}

#enna{
    margin-bottom: 100px;
}

.fotocontenitore2{
    width: 100%;
}

.fotocontenitore2 img{
    width: 100%;
    object-fit: cover;
}

.fototesto2{
    font-size: 60px;
    top: 455px;
    margin: auto auto auto auto;
}

.bottoneinfo{
    display:flex;
    width: 329px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 50px auto 50px auto;
}

.bottoneinfo .titolo{
    margin:0px;
    color: #ffffff;
}

#acquistoticketinformazioni{
    color: white;
    }

#titolo2stage{
    margin-top:50px;
}

#titolopulse, #titolorock{
    margin-bottom: 0px;
}

#titolocatania, #titolosiracusa, #titoloenna, #titolopalermo, #titolomessina{
    margin: 50px auto 0px auto;
    font-weight: bold;
}

#introcibo{
    margin-top: 50px;
}
    /*pag_artisti-pag_artisti-pag_artisti-pag_artisti-pag_artisti-pag_artisti-pag_artisti-pag_artisti-pag_artisti-*/

    .pagartista h1{
        color: #FFF;
    }
    
    .pagartista{
        background-color: #0093D8;
        color: #FFF;
    }
    .pagartista .titoloalto{
        color: #FFF;
        padding-top: 50px;
    }
    .pagartista2{
        background-color:#C20E1A;
    }
    .pagartista2 .titoloalto{
        color: #FFF;
        padding-top: 50px;
    }
    .pag_artista{
        display: flex;
        background-color: #0093D8;
        justify-content: space-between;
        max-width: 1350px;
        margin: auto;
        padding-bottom: 50px;
        }

        .pag_artista2{
            display: flex;
            background-color:#C20E1A;
            justify-content: space-between;
            max-width: 1350px;
            margin: auto;
            padding-bottom: 50px;
            }

    .pag_artista .bio .testo{
        color: #FFF;
    }

    .pag_artista2 .bio .testo{
        color: #FFF;
    }

    .cardartisti{
        background-color: #000;
        width: 500px;
        height: 680px;
        margin-top: 50px;  
    }

    .cardartisti .titolo{
        color: #FFF;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cardartisti img{
        width: 500px;
        height: 600px;
        object-fit: cover;
    }

    .indicazionenews{
        margin-bottom: 0px;
        font-weight: bold;
    }

    .luogonews{
        font-weight: bold;
    }

    .elencoartisti ul li a{
        text-decoration: none;
        color: #FFF;
        white-space: nowrap;
    }

    .elencoartisti ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0px;
        align-items: center;
        flex-wrap: wrap;
        max-width: 600px;
        margin: auto;
        color: #FFF;
    }

    .scopri {
        margin: auto;
        width: max-content;
        color: #FFF;
    }

    /*LOCATION-LOCATION-LOCATION-LOCATION-LOCATION-LOCATION-LOCATION-LOCATION-LOCATION-*/
 .pianoprovenzana{
    display: flex;
    flex-direction: column;
    align-items: center;

 }
 
  .imglocation{
    max-width: 100%;
    height: auto;
    margin: 50px auto 50px auto;
 }

 .primoelemento{
    margin-top: 50px;
 }

#bottonelocation{
    margin-bottom: 50px;
}

/*TICKET-TICKET-TICKET-TICKET-TICKET-TICKET-TICKET-TICKET-TICKET-TICKET-TICKET-TICKET-TICKET- */

.biglietti{
    display: flex;
    max-width: 1200px;
    margin: 150px auto 50px auto;
    align-items: center;
    justify-content: space-between;
}

.tipologiabiglietto{
    background-color: #C20E1A;
    height: 100px;
    width: 500px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.tipologiabiglietto #ticketinfo{
    width:max-content;
    margin: auto;
    color: white;
}


#bottoneticket {
  
    margin: auto 0 auto auto;
}

.sezioneticket .titolo{
    margin-top: 50px;
}

/*NEWS - NEWS - NEWS - NEWS - NEWS -NEWS - NEWS - NEWS - NEWS - */
.tuttelenews{
        display: grid;
        gap:16px;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1236px;
        margin: 50px auto;
        
}

.intestazione{
    display: flex;
    max-width: 610px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.intestazione h1{
    margin: 0px;
    color: #FFF;
}

.news .testo{
    max-width: 610px;
    color: #FFF;
    margin: 50px 20px 20px 20px; 
}

.news{
    background-color: #C20E1A;
    color: #FFF;
    height: 100%;
    text-decoration: none;
}

.tuttelenews img{
    max-width: 610px;
    height: 100%;
    object-fit: cover;
}

h2.h2news{
    margin: 50px auto;
    width: 750px;
}

.hastag{
    color: #0093D8;
}



/*CARRELLO-CARRELLO-CARRELLO-CARRELLO-CARRELLO-CARRELLO-*/

.herosectioncarrello{
    background-color: #0093D8;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.herosectioncarrello h2{
    width: max-content;
    color: #FFF;
}

.herosectioncarrello h1{
    margin: 0px;
    color: #FFF;
}

.form{
    display: flex;
    justify-content: space-around;
}

.form .titolo{
    margin-top: 50px;
}

#scadenzacvv{
    display: flex;
    justify-content: space-between;
}

#data, #cvv{
    width: max-content;
    margin: 0px;
}

.bottoneacquisto{
    margin-bottom: 50px;
}

.casella{
    border-style: solid;
    border-color: #000;
    border-width: 3px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.testofatturazione{
    margin-bottom: 0;
}

/*ORDINE - ORDINE -ORDINE - ORDINE - ORDINE - ORDINE - ORDINE - */
.herosectionordine{
    background-color: green;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.herosectionordine h1{
    margin: 0px;
    color: #FFF;
}

.herosectionordine h2{
    width: max-content;
    color: #FFF;
}

/*MENU*/
.hamburger-lines {
    display: none;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 23px;
    z-index: 2;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: black;
  }
  
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .checkbox {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    top: 16x;
    right: 16px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }


  @media(max-width: 1300px){


    .pag_artista{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }

        .pag_artista2{
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            }

}
  
@media(max-width: 1230px){

    .cardshome{
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        gap: 20px;
    }


}

@media (max-width:980px){

    .hamburger-lines {
        display: flex;
      }
      .checkbox {
        display: block;
      }

      input[type="checkbox"]:checked ~ nav ul {
        opacity: 100;
        overflow: hidden;
      }
    
      .hamburger-lines {
        display: flex;
        z-index: 3;
      }

      header nav ul{
        gap: 10px;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        opacity: 0;
        background-color:white;
        width: 100%;
        justify-content: center;
        text-align: center;
        z-index: 2;
        padding: 25px 0px;
        overflow-y: hidden;
      }
    
      ul li {
        display: block;
      }
   
}